<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Listing Players - baseball</title>
    <!-- ① -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>日時計算</h1>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>オリジナルID</th>
            <th>日付の名前</th>
            <th>基準となる日時</th>
            <th>加減値(年)</th>
            <th>加減値(月)</th>
            <th>加減値(日)</th>
            <th>計算結果</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- ② -->
          <tr th:each="datetime:${datetime}" th:object="${datetime}">
            <!-- ③ -->
            <td th:text="*{id}"></td>
            <td th:text="*{dateId}"></td>
            <td th:text="*{dateName}"></td>
            <td th:text="*{dateStandart}"></td>
            <td th:text="*{calulationYear}"></td>
            <td th:text="*{calulationMonth}"></td>
            <td th:text="*{calulationDay}"></td>
            <td th:text="*{resultDate}"></td>
            <!-- ④ -->
            <td><a class="btn btn-default btn-xs" th:href="@{/datetime/{id}(id=*{id})}">参照</a></td>
            <td><a class="btn btn-default btn-xs" th:href="@{/datetime/{id}/edit(id=*{id})}">編集</a></td>
            <td>
              <!-- ⑤ -->
              <form th:action="@{/datetime/{id}(id=*{id})}" th:method="delete">
                <input class="btn btn-default btn-xs" type="submit" value="削除" />
              </form>
            </td>
          </tr>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-default" href="/datetime/new">新規作成</a>
    </div>
  </body>
</html>